<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un repas</title>
</head>
<body>
    <h1>Ajouter un repas</h1>
<form method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Nom du repas" required><br>
    <input type="number" step="0.01" name="poids" placeholder="Poids (en g)" required><br>
    <input type="number" name="quantite" placeholder="Quantité" required><br>
    <input type="file" name="image"><br>
    <button type="submit">Enregistrer</button>
</form>
    <a href="{{ url_for('dashboard') }}">Retour au tableau de bord</a>
</body>
</html>
